body {
    margin: 0px;
    background-color: beige;
    font-family: sans-serif;
    font-weight: bold;
}

table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

.header {
    background-color: lightblue;
    color: black;
    font-size: 30pt;
    font-weight: bolder;
    padding-left: 25px;
}

.main-text {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15pt;
}

button {
    color: black;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    background-color: skyblue;
    border: none;
    border-radius: 8px;
    padding: 5px;
}

button:hover {
    box-shadow: 0 12px 10px 0 black;
    cursor: pointer;
    background-color: yellowgreen;
}

button:active {
    transform: translateY(3px);
    box-shadow: 0 9px 7px 0 black;
}

#down {
    background-color: forestgreen;
    color: white;
    display: none;
}

#del {
    background-color: red;
    color: white;
    display: none;
}

progress {
    height: 45px;
}

#fileLn:hover {
    box-shadow: 0 1px 10px 0 grey;
    cursor: pointer;
}

#fileLn:hover #down,
#fileLn:hover #del {
    display: inline;
}