@font-face {
    font-family: ms-ico;
    src: url('Segoe Fluent Icons.ttf');
}

body {
    margin: 0px;
    background-color: beige;
    font-family: sans-serif;
    font-weight: bold;
}

table {
    text-align: left;
    width: max-content;
    max-width: 100%;
    border-collapse: collapse;
    font-weight: normal;
}

td {
    padding-right: 10px;
    font-weight: inherit;
}

.fSizeVal {
    text-align: right;
}

header {
    background-color: lightblue;
    color: black;
    padding-left: 25px;
    padding-right: 25px;
}

.header {
    font-size: 30pt;
    font-weight: bolder;
}

#SDInfo {
    float: right;
}

.main-text {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15pt;
}

.btn-cover,
button {
    color: black;
    font-size: inherit;
    font-family: inherit;
    font-weight: bolder;
    background-color: skyblue;
    border: none;
    border-radius: 8px;
    padding: 5px;
    font-family: 'ms-ico';
}

.btn-cover:hover,
button:hover {
    box-shadow: 0 1px 10px 0 black;
    cursor: pointer;
    background-color: black;
    color: white;
}

.btn-cover:active,
button:active {
    transform: scale(0.9);
    box-shadow: 0 1px 9px 0 black;
}

.down {
    background-color: forestgreen;
    color: white;
    display: none;
    font-family: 'ms-ico';
}

.del {
    background-color: red;
    color: white;
    display: none;
    font-family: 'ms-ico';
}

progress {
    height: 45px;
}

.fileLn:hover {
    box-shadow: 0 1px 10px 0 black;
    font-weight: bold;
}

button:hover,
.clickable:hover {
    cursor: pointer;
}

.fileLn:hover .down,
.fileLn:hover .del {
    display: inline;
}

.msIcon {
    font-family: 'ms-ico';
}

.fileOpsCell {
    padding: 0;
}

input {
    font-size: inherit;
}

.renameFile:hover {
    cursor: text;
}

.fIcon {
    font-weight: bolder;
}

th {
    font-weight: bold;
}

.breadcrumb {
    list-style: none;
    display: inline;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li:hover {
    cursor: pointer;
}

.breadcrumb li+li:after {
    content: " > ";
}

.inlineForm {
    display: inline;
}